.bd{
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#05073a,#dc0606ca);
}

.container{
    max-width: 700px;
    width: 100%;
    margin-left: 0;
    margin-top:0%;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear-gradient(135deg,#dc0606ca,#05073a);
}

.container .heading{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}

.container .heading::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg,#05073a,#dc0606ca) ;
}

.container form{
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

}

form .card-details .card-box{
    width: 40%;
    margin-bottom: 15px;
}

.card-details .card-box .details{
    display: block;
    font-weight: 500px;
    width:140%;
    margin-bottom: 5px;
}


.card-details .card-box input{
    height: 45px;
    width: 300%;
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 16px;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form .circal-form .circal-title{
    font-size: 20px;
    font-weight: 500px;
    border-bottom: 2px solid;
    cursor: pointer;
}

form .circal-form .category{
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

form .button input{
    text-align: center;
    margin-top: 7%;
    margin-left: -32%;
    position: absolute;
    height: 6%;
    width: 18%;
    color:#fff;
    border: none;
    font-size: 18px;
    font-weight: 500px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#05073a,#dc0606ca);
}

form .button input:hover{
    background: linear-gradient(135deg,#dc0606ca,#05073a);
    cursor: pointer;
}

#pd{
    margin-left: 28%;
}